<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          <%= link_to "MealPlanner", root_path, class: "navbar-brand" %>
          </div>

          <% if signed_in? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Meal Plans", meal_plans_path, class: "dashboard-button" %></li>
              <li><%= link_to "Recipes", recipes_path, class: "dashboard-button" %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><%= button_to "Sign Out", sign_out_path, method: :delete, class: "dashboard-button" %>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign In", sign_in_path, class: "dashboard-button" %></li>
              <li><%= link_to "Sign Up", sign_up_path, class: "dashboard-button" %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>
    <%= yield %>
    </section>
  </body>
</html>
